# Production profile for docker-compose
SPRING_PROFILES_ACTIVE=prod

# Config Server (contenedor en ms-net -> puerto interno 7071)
CONFIG_SERVER_URL=http://config-server:7071

# MySQL container/app credentials
PEDIDO_MYSQL_ROOT_PASSWORD=root
PEDIDO_MYSQL_DATABASE=db_pedido

# Spring datasource (used by pedido)
PEDIDO_DB_HOST=mysql-pedido
PEDIDO_DB_PORT=3306
PEDIDO_DB_NAME=db_pedido
PEDIDO_DB_USERNAME=root
PEDIDO_DB_PASSWORD=root
